@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

@keyframes openContent {
  0%{
    height: 0;
  }
  100%{
    height: 23rem;
  }
}

@keyframes openContenth600 {
  0%{
    height: 0;
  }
  100%{
    height: 18rem;
  }
}

@keyframes openContenth520 {
  0%{
    height: 0;
  }
  100%{
    height: 15rem;
  }
}

.homecontent{
  @include flex-position(
    flex,
    column,
    auto,
    center,
    center,
    center
  );
  position: relative;
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 48rem;
  max-width: 100vw;
  max-height: 100vh;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 2px 4px $cor-preto-shadow;
  background: var(--color-background);
}

.wallpapertop{
  position: absolute;
  width: 8rem;
  top: 0;
  left: 0;
}

.wallpaperbot{
  position: absolute;
  width: 25rem;
  bottom: 0;
  left: 0;
}

.homecontent__main{
  z-index: 1;
  max-width: 90vw;
  .top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22rem;
    max-width: 90vw;
    height: auto;
    gap: 1rem;
    margin-bottom: .5rem;

    img{
      width: 20rem;
    }
  }
  
  .top__icons{
    display: flex;
    justify-content: center;
    width: 22rem;
    max-width: 90vw;

    svg{
      display: flex;
      margin: 0 .3rem;
      color: $cor-vermelho;
    }
  }

  .mid{
    display: none;
  }

  .bot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22rem;
    max-width: 90vw;
    height: auto;

    h1{
      font-size: $tam-font-20;
    }
    
    p{
      font-size: $tam-font-12;
    }
  }
}

.homecontent__mainvisible{
  z-index: 1;
  .top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 22rem;
    height: auto;
    gap: .5rem;
    margin-bottom: 1rem;
    
    img{
      display: flex;
      width: 7rem;
      transition-duration: .15s;
    }
  }

  .topHidden{
    display: none;
  }
  
  .top__icons{
    display: flex;
    justify-content: center;
    transition-duration: .15s;
    width: 12rem;

    svg{
      width: 1.5rem;
      display: flex;
      margin: 0 0 0 .5rem;
      color: $cor-vermelho;
      transition-duration: .15s;
    }
  }

  .mid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22rem;
    height: auto;
    animation: openContent .15s ease;
  }

  .bot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22rem;
    height: auto;
    margin-top: 1rem;
    transition-duration: .15s;
    
    h1{
      font-size: $tam-font-18;
      transition-duration: .15s;
    }
    
    p{
      font-size: $tam-font-10;
      transition-duration: .15s;
    }
  }
}

@include viewport(sm){
  .wallpapertop{
    width: 6.5rem;
  }

  .homecontent__main{    
    .top__icons svg{
      width: 1.5rem;
    }
  }

  .homecontent__mainvisible{
    display: flex;
    flex-direction: column;
    align-items: center;
    .top{
      max-width: 96vw;
    }
  
    .mid{
      max-width: 96vw;
    }

    .bot{
      h1{
        font-size: $tam-font-16;
      }
      
      p{
        font-size: $tam-font-8;
      }
    }
  }
}


@include viewport(xs){
  .wallpapertop{
    width: 6rem;
  }

  .wallpaperbot{
    width: 100vw;
  }

  .homecontent__main{
    .top{
      img{
        max-width: 80vw;
      }
    }
    
    .top__icons svg{
      width: 1.5rem;
    }

    .bot{
      h1{
        font-size: $tam-font-18;
      }

      p{
        font-size: $tam-font-10;
      }
    }
  }

  .homecontent__mainvisible{
    .top{
      align-items: end;

      img{
        width: 7rem;
      }
    }
  }
}

@include viewportH(h600){
  .homecontent__mainvisible{
    .mid{
      height: auto;
      animation: openContenth600 .15s ease;
    }
  }
}

@include viewportH(h520){
  .homecontent__mainvisible{
    .mid{
      height: auto;
      animation: openContenth520 .15s ease;
    }
  }
}