@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

@keyframes openBoxContent {
  0%, 50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.boxform{
  @include flex-position(
    flex,
    column,
    auto,
    center,
    center,
    center
  );
  padding: 1rem 0.5rem;
  background-color: $cor-cinza-blur;
  border-radius: $borda-pequena;
  box-shadow: $borda-shadow;
  animation: openBoxContent .15s ease;
  height: 20rem;

  h1{
    font-size: $tam-font-30;
  }

  p{
    font-size: $tam-font-14;
    margin: 1rem 0 2rem;
  }
}

@include viewportH(h520){
  .boxform{
    height: 15rem;

    p{
      margin: .5rem 0 1rem;
    }
  }
}