@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

@keyframes openBoxContent {
  0%, 50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.boxform.boxformopen{
  margin-top: 4.4rem;
  margin-bottom: 1rem;
}

.boxform{
  @include flex-position(
    flex,
    column,
    auto,
    center,
    center,
    center
  );
  padding: 1rem .5rem;
  background-color: $cor-cinza-blur;
  border-radius: $borda-pequena;
  box-shadow: $borda-shadow;
  animation: openBoxContent .15s ease;
  width: 22rem;
  min-height: 23rem;

  svg{
    align-items: end;
    color: $cor-vermelho-hover;
    margin-bottom: 1rem;
  }

  h1{
    font-size: $tam-font-30;
  }

  h2{
    font-size: $tam-font-20;
    margin-bottom: 1rem;
  }

  div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20rem;
    max-width: 90vw;
    
    .divInputs{
      height: 4.5rem;
    }
    
    label{
      font-size: $tam-font-14;
      margin-left: .3rem;
    }
    
    input{
      width: 100%;
      padding: .7rem;
      border-radius: 5px;
      border: none;
    }

    span{
      font-size: $tam-font-10;
      color: $cor-vermelho-hover;
      margin-left: .3rem;
    }

  }
  
  .buttonFormOpen{
    margin: 1.5rem 0 1.5rem;
  }

  p{
    font-size: $tam-font-14;
    margin: 1rem 0 2rem;
  }
}

@include viewportH(h600){
  .boxform.boxformopen{
    margin-top: 2.4rem;
    margin-bottom: .5rem;
  }

  .boxform{
    min-height: 18rem;

    svg{
      margin-bottom: .5rem;
    }

    h1{
      font-size: $tam-font-24;
    }

    h2{
      font-size: $tam-font-18;
      margin-bottom: .5rem;
    }

    div{
      .divInputs{
        height: 4rem;
      }

      input{
        padding: .5rem;
      }
    }

    p{
      margin: 1rem 0 1.5rem;
    }

    .buttonFormOpen{
      margin: .5rem 0 .5rem;
    }
  }

}

@include viewportH(h520){
  .boxform.boxformopen{
    margin-top: .5rem;
    margin-bottom: 0;
  }

  .boxform{
    padding: .5rem 0;
    min-height: 15rem;

    p{
      margin: .5rem 0 1rem;
    }
  }
}